BLAST_VER:BLAST+                      # set BLAST_VER:BLASTALL to use the old version of BLAST (slower)

BLASTN_PATH:{{ BLASTN.stdout }}              # BLAST+ blastn      --- corresponding to blastall blastn
BLASTP_PATH:{{ BLASTP.stdout }}              # BLAST+ blastp      --- corresponding to blastall blastn
MAKEBLASTDB_PATH:{{ MAKEBLASTDB.stdout }}    # BLAST+ makeblastdb --- corresponding to formatdb

PRODIGAL_PATH:{{ PRODIGAL.stdout }}
