TBLASTN_PATH:{{ TBLASTN.stdout }} # BLAST+ tblastn      --- corresponding to blastall tblastn
MUSCLE_PATH:{{ MUSCLE.stdout }}

MANUAL_TESTS_FOLDER:ECAMBER_DATASET_PATH:/manual/
BLASTS_MANUAL_FOLDER:MANUAL_TESTS_FOLDER:/blasts/

ALIGNMENTS_FOLDER:DATASET_RESULTS_EXP:alignments/
ALIGNMENTS_FOLDER_FASTA_AA:ALIGNMENTS_FOLDER:fasta_aa/
ALIGNMENTS_FOLDER_FASTA_NT:ALIGNMENTS_FOLDER:fasta_nt/
ALIGNMENTS_FOLDER_MAP_AA:ALIGNMENTS_FOLDER:map_aa/
ALIGNMENTS_FOLDER_MAP_NT:ALIGNMENTS_FOLDER:map_nt/
ALIGNMENTS_FOLDER_ALN_AA:ALIGNMENTS_FOLDER:aln_aa/
ALIGNMENTS_FOLDER_ALN_NT:ALIGNMENTS_FOLDER:aln_nt/
ALIGNMENTS_FOLDER_PROM_FASTA_NT:ALIGNMENTS_FOLDER:fasta_prom_nt/
ALIGNMENTS_FOLDER_PROM_MAP_NT:ALIGNMENTS_FOLDER:map_prom_nt/
ALIGNMENTS_FOLDER_PROM_ALN:ALIGNMENTS_FOLDER:aln_prom_nt/

PHYLOGENY_FOLDER:DATASET_RESULTS_EXP:phylogeny/
PHYLOGENY_FOLDER_PSTREE:PHYLOGENY_FOLDER:pstree/
PHYLOGENY_FOLDER_PHYLOTREE:PHYLOGENY_FOLDER:phylotree/
PHYLOGENY_FOLDER_PHYLOFILE:PHYLOGENY_FOLDER:phylofile/
PHYLOGENY_FOLDER_MUTATIONS:PHYLOGENY_FOLDER:mutations/
PHYLOGENY_FOLDER_FLATPHYLOTREE:PHYLOGENY_FOLDER:flatphylotree/

MUTATIONS_RESULTS:DATASET_RESULTS_EXP:mutations/

DATASET_RNA_INPUT:ECAMBER_DATASET_PATH:anns_rna/
DATASET_RNA_FASTA:DATASET_RNA_INPUT:fasta/

DATASET_RNA:DATASET_RESULTS_EXP:rna_muts/
DATASET_RNA_BLAST:DATASET_RNA:blast/
DATASET_RNA_ALNS:DATASET_RNA:alns/
DATASET_RNA_MUTS:DATASET_RNA:muts/
